*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/npc/build/*.v
!/npc/build/*.sv
!Makefile
!README.md
!record.md
!.gitignore
!init.sh
!/learn_c_the_hard_way/*
/fceux-am
/nvboard
/am-kernels
